opengeode-core==15.30.4
opengeode-io==7.4.6
opengeode-inspector==6.8.6
opengeode-geosciences==9.5.5
opengeode-geosciencesio==5.8.6
geode-common==33.11.3
geode-viewables==3.3.2
flask[async]==3.1.2
flask-cors==6.0.1
werkzeug==3.1.2
