opengeode-core==15.24.2
opengeode-io==7.3.2
opengeode-inspector==6.7.0
opengeode-geosciences==9.2.2
opengeode-geosciencesio==5.7.2
geode-viewables==3.2.0
Flask[async]==3.0.3
Flask-Cors==6.0.1
werkzeug==3.0.3
Flask-SQLAlchemy==3.1.1
opengeodeweb-microservice